<div class="app-content content">
    <div class="content-right">
        <div class="content-wrapper">
            <div class="content-header row mb-1">

            </div>
            <div class="content-body">
                <section id="form-repeater">


                    <div class="row">
                        <div class="col-md-12">

                            <div class="card">
                                <div class="card-header">
                                    <h4 class="card-title" id="tel-repeater">Catalogo de Bases de Datos
                                    </h4>
                                </div>
                                <hr>
                                <div class="card-content">
                                    <div class="card-body">

                                        <div>
                                            Mantenimiento del Catálogo de BD's
                                        </div>

                                        <br>

                                        <div fxLayout="column wrap" fxLayoutAlign="center" style="margin-top:10px"
                                            align="right">
                                            <button mat-raised-button
                                                style="width:20%; margin-right: 10px; background-color: #07639d; color: white;"
                                                (click)="showEmail2($event)">
                                                Agregar Nueva BD
                                            </button>


                                        </div>

                                        <br>


                                        <div class="mat-elevation-z8">
                                            <!-- listado de alertas -->
                                            <table mat-table [dataSource]="dataSource">


                                                <!-- Weight Column -->
                                                <ng-container matColumnDef="descBaseDatos">
                                                    <th mat-header-cell id="descripcion" *matHeaderCellDef>Nombre</th>
                                                    <td mat-cell *matCellDef="let element"> {{element.descBaseDatos}}
                                                    </td>
                                                </ng-container>

                                                <!-- Weight Column -->
                                                <ng-container matColumnDef="urlWso2">
                                                    <th mat-header-cell id="descripcion" *matHeaderCellDef>URL WSO2</th>
                                                    <td mat-cell *matCellDef="let element"> {{element.urlWso2}} </td>
                                                </ng-container>

                                                <!-- Name Column -->
                                                <ng-container matColumnDef="rutaArchivosNuevos">
                                                    <th mat-header-cell id="acciones" *matHeaderCellDef>Ruta de Arch
                                                        Nuevos
                                                    </th>
                                                    <td mat-cell *matCellDef="let element">
                                                        {{element.rutaArchivosNuevos}}
                                                    </td>
                                                </ng-container>

                                                <!-- Name Column -->
                                                <ng-container matColumnDef="rutaArchivosProcesados">
                                                    <th mat-header-cell id="acciones" *matHeaderCellDef>Ruta de Arch
                                                        Procesado</th>
                                                    <td mat-cell *matCellDef="let element">
                                                        {{element.rutaArchivosProcesados}} </td>
                                                </ng-container>

                                                <!-- Name Column -->
                                                <ng-container matColumnDef="rutaArchivosEliminar">
                                                    <th mat-header-cell id="acciones" *matHeaderCellDef>Ruta de Arch
                                                        Eliminae</th>
                                                    <td mat-cell *matCellDef="let element">
                                                        {{element.rutaArchivosEliminar}}
                                                    </td>
                                                </ng-container>

                                                <!-- Name Column -->
                                                <ng-container matColumnDef="fechaAltaR">
                                                    <th mat-header-cell id="acciones" *matHeaderCellDef>FCH Alta</th>
                                                    <td mat-cell *matCellDef="let element"> {{element.fechaAltaR}} </td>
                                                </ng-container>

                                                <!-- Name Column -->
                                                <ng-container matColumnDef="estatusR">
                                                    <th mat-header-cell id="acciones" *matHeaderCellDef>Estatus</th>
                                                    <td mat-cell *matCellDef="let element"> {{element.estatusR}} </td>
                                                </ng-container>

                                                <!-- Position Column -->
                                                <ng-container matColumnDef="accion">
                                                    <th mat-header-cell id="ver" *matHeaderCellDef> Ruta Arch Procesados
                                                    </th>
                                                    <td mat-cell *matCellDef="let element">
                                                        <a style="color:#07639d" (click)="openDialog2()">DETALLE</a>
                                                    </td>
                                                </ng-container>






                                                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                                            </table>

                                            <mat-paginator [pageSizeOptions]="[50]" showFirstLastButtons
                                                aria-label="Select page of periodic elements">
                                            </mat-paginator>
                                        </div>



                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                </section>


            </div>

            <div class="email-app-details2" id="app-details">

                <!-- aqui comienza el header del detalle del asunto esta seccion contiene hasta el paginador -->
                <div class="email-detail-header">
                    <div class="email-header-left d-flex align-items-center mb-1">
                        <span class="go-back mr-50">
                            <em class="ficon feather ft-chevron-left font-medium-4 align-middle"
                                (click)="showEmail($event);  "></em>
                        </span>
                        <h5 class="email-detail-title font-weight-normal mb-0">
                            Regresar
                        </h5>
                    </div>
                </div>

                <!-- email details  -->
                <div class="row">
                    <div class="col-12">
                        <div class="content-body">
                            <section id="form-repeater">
                                <div class="row">
                                    <div class="col-md-8">
                                        <div class="card">
                                            <div class="card-header">
                                                <h4 class="card-title">Preguntas Relacionadas
                                                </h4>
                                                <hr>
                                            </div>
                                            <div class="card-content">
                                                <div class="card-body">
                                                    <div class="row">
                                                        <div class="col-12">
                                                            <div class="{{respuestas.mediaClass}}"
                                                                *ngFor="let respuestas of preguntasArray; let i = index">
                                                                <div class="col-11">
                                                                    <h3><strong> {{respuestas.grlPreg}}
                                                                        </strong></h3>
                                                                    <h4>{{respuestas.grlResp}} </h4>
                                                                </div>
                                                                <div class="col-1">
                                                                    <button id="cargarAnexo" mat-raised-button
                                                                        color="warn"
                                                                        (click)="cargarAnexos(respuestas.id)">
                                                                        <mat-icon class="colorIcono">description
                                                                        </mat-icon> Mostrar Anexos
                                                                    </button>
                                                                </div>
                                                                <br>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-4">
                                        <div class="card">
                                            <div class="card-header">
                                                <h4 class="card-title" id="tel-repeater">Encuesta de
                                                    Satisfacción
                                                </h4>
                                                <hr>
                                            </div>
                                            <div class="card-content collapse show">
                                                <div class="card-body">
                                                    <form [formGroup]="form" fxLayout="row wrap">
                                                        <div class="row">
                                                            <div class="col-md-4">
                                                                <mat-radio-button class="example-radio-button"
                                                                    value="Muy Mala"
                                                                    (change)="check($event,'Muy Mala',1)">
                                                                    Muy Mala
                                                                </mat-radio-button>
                                                            </div>
                                                            <div class="col-md-4">
                                                                <mat-radio-button class="example-radio-button"
                                                                    value="Mala"
                                                                    (change)="check($event,'Mala',1)">
                                                                    Mala
                                                                </mat-radio-button>
                                                            </div>
                                                            <div class="col-md-4">
                                                                <mat-radio-button class="example-radio-button"
                                                                    value="Regular"
                                                                    (change)="check($event,'Regular',1)">
                                                                    Regular
                                                                </mat-radio-button>
                                                            </div>
                                                            <div class="col-md-4">
                                                                <mat-radio-button class="example-radio-button"
                                                                    value="Bien"
                                                                    (change)="check($event,'Bien',1)">
                                                                    Bien
                                                                </mat-radio-button>
                                                            </div>
                                                            <div class="col-md-4">
                                                                <mat-radio-button class="example-radio-button"
                                                                    value="Muy Bien"
                                                                    (change)="check($event,'Muy Bien',1)">
                                                                    Muy Bien
                                                                </mat-radio-button>
                                                            </div>
                                                        </div>
                                                        <br>
                                                        <div class="row">
                                                            <div class="col">
                                                                <button id="detaAsun" mat-raised-button
                                                                    color="warn" (click)="guardarEncuesta()">
                                                                    <mat-icon class="colorIcono">note_add
                                                                    </mat-icon> Grabar Encuesta
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </form>
                                                    <hr>
                                                    <p></p>
                                                    <p></p>
                                                    <h3 class="card-title">Si no encontró respuesta, puede
                                                        crear un asunto dando click en el siguiente botón:
                                                    </h3>
                                                    <div class="row">
                                                        <div class="col">
                                                            <button id="detaAsun" mat-raised-button color="warn"
                                                                (click)="crearAsuntoBoton()">
                                                                <mat-icon class="colorIcono">create</mat-icon>
                                                                Crear Asunto
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-7" id="detaAU">

                                        <!-- Inicia card de quejas -->
                                        <div class="card">
                                            <div class="card-header">
                                                <h4 class="card-title" id="tel-repeater">Anexos Urls
                                                </h4>
                                            </div>
                                            <hr>
                                            <div class="card-content collapse show">
                                                <div class="card-body" id="detaAU">

                                                    <div class="mat-elevation-z8" id="detaAU">
                                                        <!-- listado de alertas -->
                                                        <table mat-table [dataSource]="dataSource2" id="detaAU">
                                                            <caption hidden>Tabla que lista las alertas
                                                            </caption>
                                                            <!-- Position Column -->
                                                            <ng-container matColumnDef="id" id="detaAU">
                                                                <th mat-header-cell id="id"
                                                                    class="colorEncabezado" *matHeaderCellDef>
                                                                    Id</th>
                                                                <td mat-cell *matCellDef="let element">
                                                                    {{element.id}} </td>
                                                            </ng-container>

                                                            <!-- Name Column -->
                                                            <ng-container matColumnDef="descripcion"
                                                                id="detaAU">
                                                                <th mat-header-cell id="descripcion"
                                                                    class="colorEncabezado" *matHeaderCellDef>
                                                                    Descripción</th>
                                                                <td mat-cell *matCellDef="let element">
                                                                    {{element.descripcion}} </td>
                                                            </ng-container>

                                                            <!-- Weight Column -->
                                                            <ng-container matColumnDef="txtUrl" id="detaAU">
                                                                <th mat-header-cell id="txtUrl"
                                                                    class="colorEncabezado" *matHeaderCellDef>
                                                                    Url </th>
                                                                <td mat-cell *matCellDef="let element">
                                                                    {{element.txtUrl}} </td>
                                                            </ng-container>

                                                            <!-- Weight Column -->
                                                            <ng-container matColumnDef="dscDetll" id="detaAU">
                                                                <th mat-header-cell id="dscDetll"
                                                                    class="colorEncabezado" *matHeaderCellDef>
                                                                    Descripcion Detallada</th>
                                                                <td mat-cell *matCellDef="let element"> <a
                                                                        href="{{element.dscDetll}}">{{element.dscDetll}}</a>
                                                                </td>
                                                            </ng-container>

                                                            <tr mat-header-row
                                                                *matHeaderRowDef="displayedColumns2"
                                                                id="detaAU"></tr>
                                                            <tr mat-row
                                                                *matRowDef="let row; columns: displayedColumns2;">
                                                            </tr>
                                                        </table>

                                                        <mat-paginator #TableTwoPaginator="matPaginator"
                                                            id="detaAU" [pageSize]="5"
                                                            [pageSizeOptions]="[5, 10, 20]"></mat-paginator>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                        <!-- Termina card de quejas -->
                                    </div>
                                    <div class="col-md-5">

                                        <!-- Inicia card de anexos -->
                                        <div class="card" id="detaA">
                                            <div class="card-header">
                                                <h4 class="card-title" id="tel-repeater">Anexos - Archivos
                                                </h4>
                                            </div>
                                            <hr>
                                            <div class="card-content collapse show">
                                                <div class="card-body">

                                                    <div class="mat-elevation-z8" id="detaA">
                                                        <!-- listado de alertas -->
                                                        <table mat-table [dataSource]="dataSource" id="detaA">
                                                            <caption hidden>Tabla que lista las alertas
                                                            </caption>
                                                            <!-- Name Column -->
                                                            <ng-container matColumnDef="id" id="detaA">
                                                                <th mat-header-cell id="id"
                                                                    class="colorEncabezado" *matHeaderCellDef>
                                                                    Id Archivo </th>
                                                                <td mat-cell *matCellDef="let element">
                                                                    {{element.id}} </td>
                                                            </ng-container>

                                                            <!-- Name Column -->
                                                            <ng-container matColumnDef="descripcion" id="detaA">
                                                                <th mat-header-cell id="descripcion"
                                                                    class="colorEncabezado" *matHeaderCellDef>
                                                                    Nombre Archivo </th>
                                                                <td mat-cell *matCellDef="let element">
                                                                    {{element.descripcion}} </td>
                                                            </ng-container>

                                                            <!-- Name Column -->
                                                            <ng-container matColumnDef="descarga" id="descarga">
                                                                <th id="detaA" mat-header-cell
                                                                    class="colorEncabezado" *matHeaderCellDef>
                                                                    Descargar Archivo
                                                                </th>
                                                                <td id="detaA" mat-cell
                                                                    *matCellDef="let element">
                                                                    <button mat-icon-button
                                                                        (click)="generaArchivo(element.id,element.descripcion, element.grlExtArchAnexo)"
                                                                        id="detaA">
                                                                        <mat-icon class="styleColor" id="detaA">
                                                                            download
                                                                        </mat-icon>
                                                                    </button>
                                                                </td>
                                                            </ng-container>

                                                            <tr mat-header-row
                                                                *matHeaderRowDef="displayedColumns" id="detaA">
                                                            </tr>
                                                            <tr mat-row
                                                                *matRowDef="let row; columns: displayedColumns;">
                                                            </tr>
                                                        </table>

                                                        <mat-paginator #TableOnePaginator="matPaginator"
                                                            id="detaA" [pageSize]="5"
                                                            [pageSizeOptions]="[5, 10, 20]"></mat-paginator>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                        <!-- Termina card de anexos -->

                                    </div>
                                </div>
                            </section>
                        </div>
                    </div>
                </div>
                <!-- email details  end-->
            </div>



            <!-- aqui cierra el form y el panel expandible-->


        </div>
    </div>
</div>