<div class="app-content content">

    <div class="sidebar-left" id="sidebar-left">
        <div class="sidebar">



            <!-- User new mail right area -->
            <div class="compose-new-mail-sidebar" id="compose-sidebar" fxFlex="auto" [perfectScrollbar]="config">
                <div class="card mb-0 shadow-none quill-wrapper p-0" id="detaPeti">
                    <div class="card-header" id="detaPeti">
                        <h3 class="card-title" id="emailCompose">Nueva BD</h3>

                        <button type="button" class="close close-icon" id="showCompose" (click)="showCompose($event)">
                            <em class="ficon feather ft-x"></em>
                        </button>
                    </div>
                    <!-- form start -->
                    <br>
                    <form action="" id="detaPeti" [formGroup]="form">
                        <div class="card-content" id="detaPeti">
                            <div class="card-body pt-0" id="detaPeti">
                                <div class="form-group pb-50">
                                    <label for="emailfrom">Ingrese los datos de la nueva BD</label>

                                </div>


                                <mat-form-field appearance="outline">
                                    <mat-label id="descBaseDatos" for="descBaseDatos">Descripción Bade de Datos
                                    </mat-label>
                                    <input id="descBaseDatos" formControlName="descBaseDatos"
                                        placeholder="Ingrese un Valor" matInput maxlength="255">

                                </mat-form-field>


                                <mat-form-field appearance="outline">
                                    <mat-label id="urlWso2" for="urlWso2">URL Wso2
                                    </mat-label>
                                    <input id="urlWso2" formControlName="urlWso2" placeholder="Ingrese un Valor"
                                        matInput maxlength="255">

                                </mat-form-field>


                                <mat-form-field appearance="outline">
                                    <mat-label id="rutaArchivosEliminar" for="rutaArchivosEliminar">Ruta Archivos a
                                        Eliminar
                                    </mat-label>
                                    <input id="rutaArchivosEliminar" formControlName="rutaArchivosEliminar"
                                        placeholder="Ingrese un Valor" matInput maxlength="255">

                                </mat-form-field>


                                <mat-form-field appearance="outline">
                                    <mat-label id="rutaArchivosNuevos" for="rutaArchivosNuevos">Ruta Archivos a Nuevos
                                    </mat-label>
                                    <input id="rutaArchivosNuevos" formControlName="rutaArchivosNuevos"
                                        placeholder="Ingrese un Valor" matInput maxlength="255">

                                </mat-form-field>


                                <mat-form-field appearance="outline">
                                    <mat-label id="rutaArchivosProcesados" for="rutaArchivosProcesados">Ruta Archivos a
                                        Procesados
                                    </mat-label>
                                    <input id="rutaArchivosProcesados" formControlName="rutaArchivosProcesados"
                                        placeholder="Ingrese un Valor" matInput maxlength="255">

                                </mat-form-field>




                            </div>
                        </div>
                        <div class="card-footer border-0 d-flex justify-content-end pt-0" id="detaPeti">
                            <button id="detaPeti" mat-raised-button color="primary"
                                (click)="showCompose($event);cancelarFiltro()">
                                <mat-icon class="colorIcono">cancel</mat-icon> Cancelar
                            </button>
                            &nbsp;
                            <div *ngIf="this.tipoMov === 'alt'">
                                <button  id="detaPeti" mat-raised-button color="primary"
                                    (click)="agregaFiltro()">
                                    <mat-icon class="colorIcono">add</mat-icon> Agregar BD
                                </button>
                            </div>
                            <div *ngIf="this.tipoMov === 'mod'">
                                <button  id="detaPeti" mat-raised-button color="primary"
                                    (click)="agregaFiltro()">
                                    <mat-icon class="colorIcono">update</mat-icon> Modifica BD
                                </button>
                            </div>
                        </div>
                    </form>

                    <!-- form start end-->
                </div>
            </div>
            <!--/ User Chat profile right area -->

        </div>
    </div>

    <div class="content-right">
        <div class="content-wrapper">
            <div class="content-header row mb-1">

            </div>
            <div class="content-body">
                <section id="form-repeater">


                    <div class="row">
                        <div class="col-md-12">

                            <div class="card">
                                <div class="card-header">
                                    <h4 class="card-title" id="tel-repeater">Catalogo de Bases de Datos
                                    </h4>
                                </div>
                                <hr>
                                <div class="card-content">
                                    <div class="card-body">

                                        <div>
                                            Mantenimiento del Catálogo de BD's
                                        </div>

                                        <br>

                                        <div fxLayout="column wrap" fxLayoutAlign="center" style="margin-top:10px"
                                            align="right">
                                            <button mat-raised-button
                                                style="width:20%; margin-right: 10px; background-color: #07639d; color: white;"
                                                (click)="showComposeSidebar($event)">
                                                Agregar Nueva BD
                                            </button>


                                        </div>

                                        <br>


                                        <div class="mat-elevation-z8">
                                            <!-- listado de alertas -->
                                            <table mat-table [dataSource]="dataSource">


                                                <!-- Weight Column -->
                                                <ng-container matColumnDef="descBaseDatos">
                                                    <th mat-header-cell id="descripcion" *matHeaderCellDef>Nombre</th>
                                                    <td mat-cell *matCellDef="let element"> {{element.descBaseDatos}}
                                                    </td>
                                                </ng-container>

                                                <!-- Weight Column -->
                                                <ng-container matColumnDef="urlWso2">
                                                    <th mat-header-cell id="descripcion" *matHeaderCellDef>URL WSO2</th>
                                                    <td mat-cell *matCellDef="let element"> {{element.urlWso2}} </td>
                                                </ng-container>

                                                <!-- Name Column -->
                                                <ng-container matColumnDef="rutaArchivosNuevos">
                                                    <th mat-header-cell id="acciones" *matHeaderCellDef>Ruta de Arch
                                                        Nuevos
                                                    </th>
                                                    <td mat-cell *matCellDef="let element">
                                                        {{element.rutaArchivosNuevos}}
                                                    </td>
                                                </ng-container>

                                                <!-- Name Column -->
                                                <ng-container matColumnDef="rutaArchivosProcesados">
                                                    <th mat-header-cell id="acciones" *matHeaderCellDef>Ruta de Arch
                                                        Procesado</th>
                                                    <td mat-cell *matCellDef="let element">
                                                        {{element.rutaArchivosProcesados}} </td>
                                                </ng-container>

                                                <!-- Name Column -->
                                                <ng-container matColumnDef="rutaArchivosEliminar">
                                                    <th mat-header-cell id="acciones" *matHeaderCellDef>Ruta de Arch
                                                        Eliminae</th>
                                                    <td mat-cell *matCellDef="let element">
                                                        {{element.rutaArchivosEliminar}}
                                                    </td>
                                                </ng-container>

                                                <!-- Name Column -->
                                                <ng-container matColumnDef="fechaAltaR">
                                                    <th mat-header-cell id="acciones" *matHeaderCellDef>FCH Alta</th>
                                                    <td mat-cell *matCellDef="let element"> {{element.fechaAltaR}} </td>
                                                </ng-container>

                                                <!-- Name Column -->
                                                <ng-container matColumnDef="estatusR">
                                                    <th mat-header-cell id="acciones" *matHeaderCellDef>Estatus</th>
                                                    <td mat-cell *matCellDef="let element"> {{element.estatusR}} </td>
                                                </ng-container>

                                                <!-- Position Column -->
                                                <ng-container matColumnDef="detalle">
                                                    <th mat-header-cell id="ver" *matHeaderCellDef> Detalle
                                                    </th>
                                                    <td mat-cell *matCellDef="let element">
                                                        <a style="color:#07639d"
                                                            (click)="showComposeSidebar($event)">DETALLE</a>
                                                    </td>
                                                </ng-container>






                                                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                                            </table>

                                            <mat-paginator [pageSizeOptions]="[50]" showFirstLastButtons
                                                aria-label="Select page of periodic elements">
                                            </mat-paginator>
                                        </div>



                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                </section>


            </div>

            <div class="email-app-details2" id="app-details">


                <!-- email details  end-->
            </div>



            <!-- aqui cierra el form y el panel expandible-->


        </div>
    </div>
</div>