<div class="app-content content">


    <div class="content-right">

        <div class="content-wrapper">
            <div class="content-header row mb-1">

            </div>
            <div class="content-body">
                <section id="form-repeater">


                    <div class="row">
                        <div class="col-md-12">

                            <div class="card">
                                <div class="card-header">
                                    <h4 class="card-title" id="tel-repeater">Bitacora
                                    </h4>
                                </div>
                                <hr>

                                <div class="card-content">
                                    <div class="card-body">

                                        <div>
                                            Lista de Bitacoras
                                        </div>

                                        <br>



                                        <br>


                                        <div class="mat-elevation-z8">
                                            <!-- listado de alertas -->
                                            <table mat-table [dataSource]="dataSource">
                                                <!-- Position Column -->
                                                <ng-container matColumnDef="nameTable">
                                                    <th mat-header-cell id="ver" *matHeaderCellDef>nameTable </th>
                                                    <td mat-cell *matCellDef="let element">
                                                        <a style="color:#07639d">{{element.nameTable}}</a>
                                                    </td>
                                                </ng-container>

                                                <!-- Name Column 
                <ng-container matColumnDef="cronExpression">
                    <th mat-header-cell id="acciones" *matHeaderCellDef>cronExpression </th>
                    <td mat-cell *matCellDef="let element"> {{element.cronExpression}} </td>
                </ng-container>-->

                                                <!-- Name Column -->
                                                <ng-container matColumnDef="descBaseDatos">
                                                    <th mat-header-cell id="descBaseDatos" *matHeaderCellDef>descBaseDatos </th>
                                                    <td mat-cell *matCellDef="let element">
                                                        {{element.descBaseDatos}}
                                                    </td>
                                                </ng-container>

                                                <!-- Name Column -->
                                                <ng-container matColumnDef="fechaInicioJob">
                                                    <th mat-header-cell id="fechaInicioJob" *matHeaderCellDef>fechaInicioJob
                                                    </th>
                                                    <td mat-cell *matCellDef="let element"> {{element.fechaInicioJob}}
                                                    </td>
                                                </ng-container>

                                                <!-- Name Column -->
                                                <ng-container matColumnDef="fechaFinJob">
                                                    <th mat-header-cell id="fechaFinJob" *matHeaderCellDef>fechaFinJob
                                                    </th>
                                                    <td mat-cell *matCellDef="let element"> {{element.fechaFinJob}}
                                                    </td>
                                                </ng-container>

                                                <!-- Name Column 
                 <ng-container matColumnDef="jobClass">
                    <th mat-header-cell id="acciones" *matHeaderCellDef>jobClass </th>
                    <td mat-cell *matCellDef="let element"> {{element.jobClass}} </td>
                </ng-container>-->


                                                <!-- Name Column -->
                                                <ng-container matColumnDef="nombreArchivoControl">
                                                    <th mat-header-cell id="nombreArchivoControl" *matHeaderCellDef>nombreArchivoControl </th>
                                                    <td mat-cell *matCellDef="let element"> {{element.nombreArchivoControl}} </td>
                                                </ng-container>

                                                <!-- Name Column -->
                                                <ng-container matColumnDef="nombreArchivoDetalle">
                                                    <th mat-header-cell id="nombreArchivoDetalle" *matHeaderCellDef>nombreArchivoDetalle </th>
                                                    <td mat-cell *matCellDef="let element"> {{element.nombreArchivoDetalle}} </td>
                                                </ng-container>


                                                <!-- Name Column -->
                                                <ng-container matColumnDef="numeroRegistros">
                                                    <th mat-header-cell id="numeroRegistros" *matHeaderCellDef>numeroRegistros </th>
                                                    <td mat-cell *matCellDef="let element"> {{element.numeroRegistros}} </td>
                                                </ng-container>

                                         
                                                <!-- Name Column -->
                                                <ng-container matColumnDef="detalle">
                                                    <th mat-header-cell id="detalle" *matHeaderCellDef>Detalle </th>
                                                    <td mat-cell *matCellDef="let element">
                                                        <button mat-icon-button aria-label="RUN"
                                                        (click)="showEmail2($event,element.cronJob)">
                                                            Detalle
                                                        </button>
                                                    </td>
                                                </ng-container>

 

                                                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                                            </table>

                                            <mat-paginator [pageSizeOptions]="[10]" showFirstLastButtons
                                                aria-label="Select page of periodic elements">
                                            </mat-paginator>
                                        </div>



                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                </section>


            </div>




            <!-- aqui cierra el form y el panel expandible-->


        </div>

        <div class="email-app-details2" id="app-details">
            <div class="email-detail-header" id="detaPeti">
                <div class="email-header-left d-flex align-items-center mb-1 " id="detaPeti">
                    <span class="go-back mr-50" id="detaPeti">
                        <em class="ficon feather ft-chevron-left font-medium-4 align-middle"
                            (click)="showEmail($event);"></em>
                    </span>
                    <h5 class="email-detail-title font-weight-normal mb-0" id="detaPeti">
                        Regresar: <strong> </strong>
                    </h5>
                </div>
                <div class="email-header-right mb-1 ml-2 pl-1" id="detaPeti">
                </div>
            </div>
            <!-- email aqui comienza el cuerpo del conteiner del asunto-->
            <div class="email-scroll-area" id="detaPeti" fxFlex="auto" [perfectScrollbar]="config">
                <!-- email details  -->
                <div class="row" id="detaPeti">
                    <div class="col-12" id="detaPeti23">

                        <mat-card>
                            <mat-card-header id="detaPeti23">
                                <mat-card-title id="detaPeti23"> Detalle Bitacora</mat-card-title>
                                
                                
                                 
                            </mat-card-header>
                            <hr>
                            <br>
                            <mat-card-content id="detaPeti23">
                                <section id="detaPeti23">
                                    <div class="row" id="detaPeti23">
                                        <div class="col-md-4">
                                            <mat-form-field appearance="outline">
                                                <mat-label for="cronExpression">
                                                    Expresión Cron</mat-label>
                                                <input matInput
                                                    id="cronExpression"
                                                    formControlName="cronExpression"
                                                   
                                                    maxlength="50">
                                     
                                            </mat-form-field>
                                        </div>

                                        <div class="col-md-4">
                                            <mat-form-field appearance="outline">
                                                <mat-label for="cronJob">
                                                    Cron Job</mat-label>
                                                <input matInput
                                                    id="cronJob"
                                                    formControlName="cronJob"
                                                   
                                                    maxlength="50">
                                     
                                            </mat-form-field>
                                        </div>
                                        <div class="col-md-4">
                                            <mat-form-field appearance="outline">
                                                <mat-label for="descripcion">
                                                    Cron Job</mat-label>
                                                <input matInput
                                                    id="descripcion"
                                                    formControlName="descripcion"
                                                   
                                                    maxlength="50">
                                     
                                            </mat-form-field>
                                        </div>



                                    </div>

                                    <div class="row" id="detaPeti23">

                                        <div class="col-md-4">
                                            <mat-form-field appearance="outline">
                                                <mat-label for="interfaceName">
                                                   Nombre Interfaz</mat-label>
                                                <input matInput
                                                    id="interfaceName"
                                                    formControlName="interfaceName"
                                                   
                                                    maxlength="50">
                                     
                                            </mat-form-field>
                                        </div>

                                        <div class="col-md-4">
                                            <mat-form-field appearance="outline">
                                                <mat-label for="jobClass">
                                                    Job Class</mat-label>
                                                <input matInput
                                                    id="jobClass"
                                                    formControlName="jobClass"
                                                   
                                                    maxlength="50">
                                     
                                            </mat-form-field>
                                        </div>
                                        <div class="col-md-4">
                                            <mat-form-field appearance="outline">
                                                <mat-label for="jobGroup">
                                                    Group Job</mat-label>
                                                <input matInput
                                                    id="jobGroup"
                                                    formControlName="jobGroup"
                                                   
                                                    maxlength="50">
                                     
                                            </mat-form-field>
                                        </div>

                                    </div>

                                    <div class="row" id="detaPeti23">

                                        <div class="col-md-4">
                                            <mat-form-field appearance="outline">
                                                <mat-label for="jobName">
                                                   Nombre Job</mat-label>
                                                <input matInput
                                                    id="jobName"
                                                    formControlName="jobName"
                                                   
                                                    maxlength="50">
                                     
                                            </mat-form-field>
                                        </div>

                                        <div class="col-md-4">
                                            <mat-form-field appearance="outline">
                                                <mat-label for="jobTable">
                                                    Job Table</mat-label>
                                                <input matInput
                                                    id="jobTable"
                                                    formControlName="jobTable"
                                                   
                                                    maxlength="50">
                                     
                                            </mat-form-field>
                                        </div>
                                        <div class="col-md-4">
                                            <mat-form-field appearance="outline">
                                                <mat-label for="repeatTime">
                                                    Tiempo de repeticón</mat-label>
                                                <input matInput
                                                    id="repeatTime"
                                                    formControlName="repeatTime"
                                                    maxlength="50">
                                     
                                            </mat-form-field>
                                        </div>

                                    </div>
 
                                </section>
                            </mat-card-content>
                        </mat-card>

                    </div>
                </div>
                <!-- email details  end-->

            </div>

            <!--/ Detailed Email View -->
        </div>

    </div>
</div>