<div class="app-content content">
    <div class="content-right">
        <div class="content-header row">
            <button mat-button color="warn" class="btn-block active espacio" id="compose-btn"
            (click)="showEmail2($event,1)">
            <em class="ficon feather ficon feather ft-plus"></em>
            Filtro Nuevo
        </button>
        </div>
        <div class="content-overlay"></div>
        <div class="content-wrapper">
            <h1><span class="colorAutoayuda">....</span>Autoayuda</h1>
       

          

            <h1></h1>
            <h1></h1>

            <div class="content-body">
                <!-- email app overlay -->
                <div class="app-content-overlay" id="app-content-overlay" (click)="showCompose($event)"
                    (click)="showSidebar($event)"></div>
                <div class="email-app-area">
                    <!-- Email list Area -->
                    <div class="email-app-list-wrapper">
                        <div class="email-app-list">
                            <div class="email-action">
                                <!-- action left start here -->
                                <div class="action-left d-flex align-items-center">

                                    <!-- delete unread dropdown -->
                                </div>
                                <!-- action left end here -->

                                <!-- action right start here -->
                                <div class="action-right d-flex flex-grow-1 align-items-center justify-content-around">
                                    <!-- search bar  -->
                                    <div class="email-fixed-search flex-grow-1">
                                        <div class="sidebar-toggle d-block d-lg-none" (click)="showSidebar($event)">
                                            <em class="ficon feather ft-align-justify"></em>
                                        </div>
                                        <fieldset class="form-group position-relative has-icon-left m-0">
                                            <legend hidden>auto ayuda</legend>
                                            <input type="text" class="form-control" id="email-search"
                                                (keyup)="search($event)"(keydown.backspace)="onKeydown($event)" placeholder="Buscar pregunta/respuesta"
                                                aria-label="email-search" [(ngModel)]="buscarInput">
                                            <div class="form-control-position">
                                                <em class="ficon feather ft-search"></em>
                                            </div>
                                        </fieldset>
                                    </div>
                                    <!-- pagination and page count
                                    <span class="d-none d-sm-block">{{cuantos}}-{{cuantosDe}} of
                                        {{this.totalAsuntos}}</span>
                                    <button class="btn btn-icon email-pagination-prev d-none d-sm-block"
                                        (click)="antPage()">
                                        <em class="ficon feather ft-chevron-left"></em>
                                    </button>
                                    <button class="btn btn-icon email-pagination-next d-none d-sm-block"
                                        (click)="proximoPage()">
                                        <em class="ficon feather ft-chevron-right"></em>
                                    </button> -->
                                </div>
                            </div>
                            <!-- / action right -->

                            <!-- email user list start -->
                            <div class="email-user-list list-group" [perfectScrollbar]="config">
                                <ul class="users-list-wrapper media-list">
                                    <li class="{{contact.mediaClass}}"
                                        *ngFor="let contact of autoAyudaList; let i = index">
                                        <div class="media-body" (click)="showEmail2($event,contact.idCatAsntFk)">
                                            <div class="mail-items">
                                                <div class="mail-message">
                                                    <div class="row">
                                                        <div class="col-md-4">
                                                            <span class="titulo1">{{contact.grlPreg}}
                                                            </span>
                                                        </div>
                                                        <div class="col-md-3">
                                                            <div class="mail-message2">
                                                                <p class="list-group-item-text">
                                                                    {{contact.grlResp}}
                                                                </p>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-4">
                                                            <p class="list-group-item-text">
                                                                Categorías: {{contact.categoriaPadre.dscBreveCateg}}
                                                            </p>
                                                        </div>
                                                        <div class="col-md-1">
                                                            <span class="float-right">
                                                                <span class="esquina">ver más ...</span>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                                <!-- email user list end -->

                                <!-- no result when nothing to show on list -->
                                <div class="no-results">
                                    <em class="ficon feather ft-info font-large-2"></em>
                                    <h5>No existen Registros</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--/ Email list Area -->

                    <!-- Detaile del asunto -->
                    
                    <div class="email-app-details2" id="app-details">

                        <!-- aqui comienza el header del detalle del asunto esta seccion contiene hasta el paginador -->
                        <div class="email-detail-header">
                            <div class="email-header-left d-flex align-items-center mb-1">
                                <span class="go-back mr-50">
                                    <em class="ficon feather ft-chevron-left font-medium-4 align-middle"
                                        (click)="showEmail($event); limpiarDataTable()"></em>
                                </span>
                                <h5 class="email-detail-title font-weight-normal mb-0">
                                    Regresar
                                </h5>
                            </div>
                        </div>

                        <!-- email details  -->
                        <div class="row">
                            <div class="col-12">
                                <div class="content-body">
                                    <section id="form-repeater">
                                        <div class="row">
                                            <div class="col-md-8">
                                                <div class="card">
                                                    <div class="card-header">
                                                        <h4 class="card-title">Preguntas Relacionadas
                                                        </h4>
                                                        <hr>
                                                    </div>
                                                    <div class="card-content">
                                                        <div class="card-body">
                                                            <div class="row">
                                                                <div class="col-12">
                                                                    <div class="{{respuestas.mediaClass}}"
                                                                        *ngFor="let respuestas of preguntasArray; let i = index">
                                                                        <div class="col-11">
                                                                            <h3><strong> {{respuestas.grlPreg}}
                                                                                </strong></h3>
                                                                            <h4>{{respuestas.grlResp}} </h4>
                                                                        </div>
                                                                        <div class="col-1">
                                                                            <button id="cargarAnexo" mat-raised-button
                                                                                color="warn"
                                                                                (click)="cargarAnexos(respuestas.id)">
                                                                                <mat-icon class="colorIcono">description
                                                                                </mat-icon> Mostrar Anexos
                                                                            </button>
                                                                        </div>
                                                                        <br>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-md-4">
                                                <div class="card">
                                                    <div class="card-header">
                                                        <h4 class="card-title" id="tel-repeater">Encuesta de
                                                            Satisfacción
                                                        </h4>
                                                        <hr>
                                                    </div>
                                                    <div class="card-content collapse show">
                                                        <div class="card-body">
                                                            <form [formGroup]="form" fxLayout="row wrap">
                                                                <div class="row">
                                                                    <div class="col-md-4">
                                                                        <mat-radio-button class="example-radio-button"
                                                                            value="Muy Mala"
                                                                            (change)="check($event,'Muy Mala',1)">
                                                                            Muy Mala
                                                                        </mat-radio-button>
                                                                    </div>
                                                                    <div class="col-md-4">
                                                                        <mat-radio-button class="example-radio-button"
                                                                            value="Mala"
                                                                            (change)="check($event,'Mala',1)">
                                                                            Mala
                                                                        </mat-radio-button>
                                                                    </div>
                                                                    <div class="col-md-4">
                                                                        <mat-radio-button class="example-radio-button"
                                                                            value="Regular"
                                                                            (change)="check($event,'Regular',1)">
                                                                            Regular
                                                                        </mat-radio-button>
                                                                    </div>
                                                                    <div class="col-md-4">
                                                                        <mat-radio-button class="example-radio-button"
                                                                            value="Bien"
                                                                            (change)="check($event,'Bien',1)">
                                                                            Bien
                                                                        </mat-radio-button>
                                                                    </div>
                                                                    <div class="col-md-4">
                                                                        <mat-radio-button class="example-radio-button"
                                                                            value="Muy Bien"
                                                                            (change)="check($event,'Muy Bien',1)">
                                                                            Muy Bien
                                                                        </mat-radio-button>
                                                                    </div>
                                                                </div>
                                                                <br>
                                                                <div class="row">
                                                                    <div class="col">
                                                                        <button id="detaAsun" mat-raised-button
                                                                            color="warn" (click)="guardarEncuesta()">
                                                                            <mat-icon class="colorIcono">note_add
                                                                            </mat-icon> Grabar Encuesta
                                                                        </button>
                                                                    </div>
                                                                </div>
                                                            </form>
                                                            <hr>
                                                            <p></p>
                                                            <p></p>
                                                            <h3 class="card-title">Si no encontró respuesta, puede
                                                                crear un asunto dando click en el siguiente botón:
                                                            </h3>
                                                            <div class="row">
                                                                <div class="col">
                                                                    <button id="detaAsun" mat-raised-button color="warn"
                                                                        (click)="crearAsuntoBoton()">
                                                                        <mat-icon class="colorIcono">create</mat-icon>
                                                                        Crear Asunto
                                                                    </button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-7" id="detaAU">

                                                <!-- Inicia card de quejas -->
                                                <div class="card">
                                                    <div class="card-header">
                                                        <h4 class="card-title" id="tel-repeater">Anexos Urls
                                                        </h4>
                                                    </div>
                                                    <hr>
                                                    <div class="card-content collapse show">
                                                        <div class="card-body" id="detaAU">

                                                            <div class="mat-elevation-z8" id="detaAU">
                                                                <!-- listado de alertas -->
                                                                <table mat-table [dataSource]="dataSource2" id="detaAU">
                                                                    <caption hidden>Tabla que lista las alertas
                                                                    </caption>
                                                                    <!-- Position Column -->
                                                                    <ng-container matColumnDef="id" id="detaAU">
                                                                        <th mat-header-cell id="id"
                                                                            class="colorEncabezado" *matHeaderCellDef>
                                                                            Id</th>
                                                                        <td mat-cell *matCellDef="let element">
                                                                            {{element.id}} </td>
                                                                    </ng-container>

                                                                    <!-- Name Column -->
                                                                    <ng-container matColumnDef="descripcion"
                                                                        id="detaAU">
                                                                        <th mat-header-cell id="descripcion"
                                                                            class="colorEncabezado" *matHeaderCellDef>
                                                                            Descripción</th>
                                                                        <td mat-cell *matCellDef="let element">
                                                                            {{element.descripcion}} </td>
                                                                    </ng-container>

                                                                    <!-- Weight Column -->
                                                                    <ng-container matColumnDef="txtUrl" id="detaAU">
                                                                        <th mat-header-cell id="txtUrl"
                                                                            class="colorEncabezado" *matHeaderCellDef>
                                                                            Url </th>
                                                                        <td mat-cell *matCellDef="let element">
                                                                            {{element.txtUrl}} </td>
                                                                    </ng-container>

                                                                    <!-- Weight Column -->
                                                                    <ng-container matColumnDef="dscDetll" id="detaAU">
                                                                        <th mat-header-cell id="dscDetll"
                                                                            class="colorEncabezado" *matHeaderCellDef>
                                                                            Descripcion Detallada</th>
                                                                        <td mat-cell *matCellDef="let element"> <a
                                                                                href="{{element.dscDetll}}">{{element.dscDetll}}</a>
                                                                        </td>
                                                                    </ng-container>

                                                                    <tr mat-header-row
                                                                        *matHeaderRowDef="displayedColumns2"
                                                                        id="detaAU"></tr>
                                                                    <tr mat-row
                                                                        *matRowDef="let row; columns: displayedColumns2;">
                                                                    </tr>
                                                                </table>

                                                                <mat-paginator #TableTwoPaginator="matPaginator"
                                                                    id="detaAU" [pageSize]="5"
                                                                    [pageSizeOptions]="[5, 10, 20]"></mat-paginator>
                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- Termina card de quejas -->
                                            </div>
                                            <div class="col-md-5">

                                                <!-- Inicia card de anexos -->
                                                <div class="card" id="detaA">
                                                    <div class="card-header">
                                                        <h4 class="card-title" id="tel-repeater">Anexos - Archivos
                                                        </h4>
                                                    </div>
                                                    <hr>
                                                    <div class="card-content collapse show">
                                                        <div class="card-body">

                                                            <div class="mat-elevation-z8" id="detaA">
                                                                <!-- listado de alertas -->
                                                                <table mat-table [dataSource]="dataSource" id="detaA">
                                                                    <caption hidden>Tabla que lista las alertas
                                                                    </caption>
                                                                    <!-- Name Column -->
                                                                    <ng-container matColumnDef="id" id="detaA">
                                                                        <th mat-header-cell id="id"
                                                                            class="colorEncabezado" *matHeaderCellDef>
                                                                            Id Archivo </th>
                                                                        <td mat-cell *matCellDef="let element">
                                                                            {{element.id}} </td>
                                                                    </ng-container>

                                                                    <!-- Name Column -->
                                                                    <ng-container matColumnDef="descripcion" id="detaA">
                                                                        <th mat-header-cell id="descripcion"
                                                                            class="colorEncabezado" *matHeaderCellDef>
                                                                            Nombre Archivo </th>
                                                                        <td mat-cell *matCellDef="let element">
                                                                            {{element.descripcion}} </td>
                                                                    </ng-container>

                                                                    <!-- Name Column -->
                                                                    <ng-container matColumnDef="descarga" id="descarga">
                                                                        <th id="detaA" mat-header-cell
                                                                            class="colorEncabezado" *matHeaderCellDef>
                                                                            Descargar Archivo
                                                                        </th>
                                                                        <td id="detaA" mat-cell
                                                                            *matCellDef="let element">
                                                                            <button mat-icon-button (click)="generaArchivo(element.id,element.descripcion, element.grlExtArchAnexo)" id="detaA">
                                                                                <mat-icon class="styleColor" id="detaA">
                                                                                    download
                                                                                </mat-icon>
                                                                            </button>
                                                                        </td>
                                                                    </ng-container>

                                                                    <tr mat-header-row
                                                                        *matHeaderRowDef="displayedColumns" id="detaA">
                                                                    </tr>
                                                                    <tr mat-row
                                                                        *matRowDef="let row; columns: displayedColumns;">
                                                                    </tr>
                                                                </table>

                                                                <mat-paginator #TableOnePaginator="matPaginator"
                                                                    id="detaA" [pageSize]="5"
                                                                    [pageSizeOptions]="[5, 10, 20]"></mat-paginator>
                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- Termina card de anexos -->

                                            </div>
                                        </div>
                                    </section>
                                </div>
                            </div>
                        </div>
                        <!-- email details  end-->
                    </div>
                    <!--/ Detailed Email View -->

                </div>

            </div>
        </div>

    </div>
</div>
<!-- END: Content-->