<div class="app-content content">

    <div class="content-card">
        <div class="content-header row mb-1">
        </div>

        <mat-card>
            <mat-card-header>
                <mat-card-title>Administración de Roles</mat-card-title>
            </mat-card-header>


            <mat-card-content>

                <!-- Alta -->



                <mat-expansion-panel [expanded]="true">
                    <mat-expansion-panel-header>
                        Alta
                    </mat-expansion-panel-header>



                    <form #formDirective="ngForm" name="form" [formGroup]="form" autocomplete="off">

                        <section>
                            <div class="example-button-row">
                                <mat-form-field  appearance="outline">
                                    <mat-label for="descripcion">Nombre rol</mat-label>
                                    <input matInput id="descripcion" maxlength="60" formControlName="descripcion"
                                        (keypress)="alfanumericoOnly($event)" placeholder=" Nombre de rol">
                                    <mat-error 
                                        *ngIf="form.get('descripcion').hasError('required')">El
                                        campo descripcion es requerido.</mat-error>
                                    <mat-error 
                                        *ngIf="form.get('descripcion').hasError('maxlength')">El maximo de caracteres es
                                        60.</mat-error>
                                    <mat-error 
                                        *ngIf="form.get('descripcion').hasError('pattern')">Nos se pueden insertar caracteres especiales</mat-error>
                                </mat-form-field>
                               
                                <button mat-raised-button class="styleBoton" (click)="guardar()" color="warn">
                                    Guardar
                                </button>
                            </div>
                        </section> 
                    </form>





                </mat-expansion-panel>

                <!-- ENDS alta -->


                <mat-divider></mat-divider>

                <!-- Consulta -->

                <mat-expansion-panel [expanded]="true">
                    <mat-expansion-panel-header>
                        Consulta
                    </mat-expansion-panel-header>


                    <table mat-table matSort [dataSource]="dataSource" #TableOneSort="matSort">
                        <caption></caption>
                        <!-- usuario Column -->
                        <ng-container matColumnDef="idRol">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header id="idRol"> ID </th>
                            <td mat-cell *matCellDef="let element"> {{element.idRol}} </td>
                        </ng-container>


                        <!-- nombre Column -->
                        <ng-container matColumnDef="rol">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header id="rol">Rol </th>
                            <td mat-cell *matCellDef="let element"> {{element.descripcion}} </td>
                        </ng-container>

                        <!-- actualizar Column -->
                        <ng-container matColumnDef="actualizar">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header id="actualizar">Actualizar </th>
                            <td mat-cell *matCellDef="let element">
                                <button mat-raised-button class="md-button" color="info" [disabled]="element.estatus===0"
                                    (click)="actualizarRol(element)">Actualizar</button>
                            </td>
                        </ng-container>

                        <!-- desactivar Column -->
                        <ng-container matColumnDef="desactivar">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header id="acciones">Acciones </th>
                            <td mat-cell *matCellDef="let element">
                                <button mat-raised-button class="md-button" color="primary" (click)="actualizar(element)"
                                    *ngIf="element.estatus===0">&nbsp;&nbsp;&nbsp;Activar&nbsp;&nbsp;&nbsp;</button>
                                <button mat-raised-button class="md-button" color="warn" (click)="actualizar(element)"
                                    *ngIf="element.estatus===1">Desactivar</button>
                            </td> 
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true" ></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"
                            [ngClass]="{hovered: row.hovered, highlighted: selection.isSelected(row)}"
                            (mouseover)="row.hovered = true" (mouseout)="row.hovered = false">
                        </tr>

                    </table>
                    <mat-paginator [pageSizeOptions]="[10, 15, 20]" showFirstLastButtons></mat-paginator>

                </mat-expansion-panel>

                <!-- ENDS consulta -->

            </mat-card-content>
        </mat-card>

    </div>
</div>