<div class="flex flex-col flex-auto min-w-0">

  <!-- Main -->
  <div class="flex-auto p-6 sm:p-10">

    <!-- CONTENT GOES HERE -->
    <div class="h-400 min-h-400 max-h-400 border-2 border-dashed border-gray-300 rounded-2xl">

      <div class="app-content content" id="det2asu">

        <div class="content-card" id="det2asu">

          <mat-card>
            <mat-card-header>
                <mat-card-title></mat-card-title >

                <div class="content-header row mb-1">

                    <mat-toolbar color="#DC143C" *ngIf="mostrar2" id="det2asu">
                        <div *ngIf="mostrar" id="det2asu">

                            <button mat-raised-button (click)="this.botonReservar(); reservarAsunto()"
                                class="margenBotonos">
                                <mat-icon>lock</mat-icon> Reservar
                            </button>

                        </div>

                        <div *ngIf="!mostrar" id="det2asu">

                            <button mat-raised-button class="margenBotonos">
                                <mat-icon>record_voice_over</mat-icon> Crear Queja
                            </button>
                            <button mat-raised-button class="margenBotonos"
                                (click)="this.botonTratar()">
                                <mat-icon>offline_pin</mat-icon> Tratar
                            </button>


                        </div>

                    </mat-toolbar>
                </div>

                <div class="content-header row mb-1" *ngIf="!mostrar2" id="det2asu">

                    <mat-toolbar color="#DC143C" id="det2asu">
                        <button mat-raised-button id="det2asu" (click)="oprimirConDatos('Solucionar')" id="det2asu"
                            class="margenBotonos">
                            <mat-icon>offline_pin</mat-icon> Guardar
                        </button>
                        <button mat-raised-button id="det2asu" (click)="oprimir('Escalado')"
                            class="margenBotonos">
                            <mat-icon>open_in_browser</mat-icon> Cancelar Tratamiento
                        </button>
                        <button mat-raised-button (click)="oprimir('Especialista')"
                            class="margenBotonos">
                            <mat-icon>supervised_user_circle</mat-icon> Solucionar el asunto
                        </button>

                    </mat-toolbar>
                    <mat-toolbar id="det2asu">
                        <button mat-raised-button
                            (click)="oprimir('Solicitar + Información')"
                            class="margenBotonos">
                            <mat-icon>record_voice_over</mat-icon> Petición de información
                        </button>
                        <button mat-raised-button (click)="oprimirConDatos('Solucionar')"
                            class="margenBotonos">
                            <mat-icon>offline_pin</mat-icon> Crear Notificación
                        </button>
                    </mat-toolbar>


                </div>
            </mat-card-header>
            <br>
            <mat-card-content id="det2asu">
                <section id="form-repeater" id="det2asu">
                    <form [formGroup]="formDetalle" fxLayout="row wrap" id="det2asu">


                        <div class="row">
                            <div class="col-md-7">
                                <!-- Inicia card de datos generales -->
                                <div class="card">
                                    <div class="card-header">
                                        <h4 class="card-title" id="tel-repeater2">Datos
                                            Generales
                                        </h4>
                                    </div>
                                    <hr>
                                    <div class="card-content collapse show" id="det2asu">
                                        <div class="card-body">

                                            <div class="row">
                                                <div class="col">
                                                    <mat-form-field appearance="fill" id="det2asu">
                                                        <mat-label for="nombre">Nombre
                                                        </mat-label>
                                                        <input matInput id="nombre"
                                                            formControlName="nombre"
                                                            [readonly]="true">
                                                    </mat-form-field>
                                                </div>
                                                <div class="col">
                                                    <mat-form-field appearance="fill" id="det2asu">
                                                        <mat-label for="telefono">Teléfono
                                                        </mat-label>
                                                        <input matInput appBlockCopyPaste
                                                            id="telefono"
                                                            formControlName="telefono"
                                                            [readonly]="true">
                                                    </mat-form-field>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col">
                                                    <mat-form-field appearance="fill" id="det2asu">
                                                        <mat-label for="movil">Móvil
                                                        </mat-label>
                                                        <input matInput appBlockCopyPaste
                                                            id="movil"
                                                            formControlName="movil"
                                                            [readonly]="true">
                                                    </mat-form-field>
                                                </div>
                                                <div class="col">
                                                    <mat-form-field appearance="fill" id="det2asu">
                                                        <mat-label id="lblcorreo" for="correo">E-mail
                                                        </mat-label>
                                                        <input   matInput
                                                            id="correo"
                                                            formControlName="email"
                                                            [readonly]="true">
                                                    </mat-form-field>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <!-- Termina card de datos generales -->
 
                                <div class="card" id="det2asu">
                                    <div class="card-header" id="det2asu">
                                        <h4 class="card-title" id="tel-repeater">Datos de
                                            Contacto
                                        </h4>
                                    </div>
                                    <hr>
                                    <div class="card-content collapse show">
                                        <div class="card-body">
                                            <div class="row" id="det2asu">
                                                <div class="col-md-8" id="det2asu">
                                                    <mat-form-field appearance="fill">
                                                        <mat-label for="direccionContacto" id="det2asu">
                                                            Dirección</mat-label>
                                                        <input matInput
                                                            id="direccionContacto"
                                                            formControlName="direccionContacto"id="det2asu"
                                                            [readonly]="true">
                                                    </mat-form-field>
                                                </div>
                                                <div class="col-md-4">
                                                    <mat-form-field appearance="fill">
                                                        <mat-label for="movilContacto">Móvil
                                                        </mat-label>
                                                        <input matInput appBlockCopyPaste
                                                            id="movilContacto"
                                                            formControlName="movilContacto"
                                                            [readonly]="true">
                                                    </mat-form-field>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Termina card de datos de contacto -->
                            </div>

                            <div class="col-md-5" id="det2asu">
                                <!-- Inicia card  de datos del asunto -->
                                <div class="card" id="det2asu">
                                    <div class="card-header" id="det2asu">
                                        <h4 class="card-title" id="tel-repeater2">Datos Del
                                            Asunto
                                        </h4>
                                    </div>
                                    <hr>
                                    <div class="card-content collapse show">
                                        <div class="card-body">

                                            <div class="row">
                                                <div class="col">
                                                    <mat-form-field appearance="fill" id="det2asu">
                                                        <mat-label
                                                            for="descripcionBreveAsunto">
                                                            Descripción breve del asunto
                                                        </mat-label>
                                                        <textarea matInput
                                                            id="descripcionBreveAsunto"
                                                            value="" rows="8"
                                                            formControlName="descripcionBreveAsunto"
                                                            aria-label="descripcionBreveAsunto"
                                                            [readonly]="true"></textarea>
                                                    </mat-form-field>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col">
                                                    <mat-form-field appearance="fill" id="det2asu">
                                                        <mat-label>Fecha de Creación
                                                        </mat-label>
                                                        <input matInput id="fechaCreacion"
                                                            formControlName="fechaCreacion"
                                                            [readonly]="true">
                                                    </mat-form-field>
                                                </div>

                                                <div class="col">
                                                    <mat-form-field appearance="fill" id="det2asu">
                                                        <mat-label for="estadoAsunto">Estado
                                                            del Asunto</mat-label>
                                                        <input matInput id="estadoAsunto"
                                                            formControlName="estadoAsunto"
                                                            [readonly]="true">
                                                    </mat-form-field>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col">
                                                    <mat-form-field appearance="fill" id="det2asu">
                                                        <mat-label for="motivoReapertura">
                                                            Prioridad</mat-label>
                                                        <input matInput
                                                            id="motivoReapertura"
                                                            formControlName="motivoReapertura"
                                                            [readonly]="true">
                                                    </mat-form-field>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col">
                                                    <mat-form-field appearance="fill" id="det2asu">
                                                        <mat-label for="categoria">Categoría
                                                        </mat-label>
                                                        <input matInput id="categoria"
                                                            formControlName="categoria"
                                                            [readonly]="true">
                                                    </mat-form-field>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Termina card de datos del asunto -->
                            </div>

                        </div>
                        <div class="row" id="det2asu">
                            <div class="col-md-6" id="det2asu">

                                <!-- Inicia card de datos del centro2 -->
                                <div class="card" id="det2asu">
                                    <div class="card-header">
                                        <h4 class="card-title" id="tel-repeater2">Datos del
                                            Centro
                                        </h4>
                                    </div>
                                    <hr>
                                    <div class="card-content collapse show" id="det2asu">
                                        <div class="card-body">

                                            <div class="row">
                                                <div class="col-md-6">
                                                    <mat-form-field appearance="fill" id="det2asu">
                                                        <mat-label for="centro">Centro
                                                        </mat-label>
                                                        <input matInput id="centro"
                                                            formControlName="centro"
                                                            [readonly]="true">
                                                    </mat-form-field>
                                                </div>
                                                <div class="col-md-6">
                                                    <mat-form-field appearance="fill" id="det2asu">
                                                        <mat-label for="telefonoCentro">
                                                            Teléfono</mat-label>
                                                        <input matInput id="telefonoCentro"
                                                            formControlName="telefonoCentro"
                                                            [readonly]="true">
                                                    </mat-form-field>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col">
                                                    <mat-form-field appearance="fill" id="det2asu">
                                                        <mat-label for="direccionCentro" id="det2asu">
                                                            Dirección</mat-label>
                                                        <input matInput id="direccionCentro"
                                                            formControlName="direccionCentro"
                                                            [readonly]="true">
                                                    </mat-form-field>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <!-- Termina card de datos del centro -->

                            </div>

                            <div class="col-md-6" id="det2asu">

                                <!-- Inicia card de descripcion detallada -->
                                <div class="card" id="det2asu">
                                    <div class="card-header" id="det2asu">
                                        <h4 class="card-title" id="tel-repeater2">Descripción
                                            Detallada
                                        </h4>
                                    </div>
                                    <hr>
                                    <div class="card-content collapse show" id="det2asu">
                                        <div class="card-body" id="det2asu">

                                            <div class="row" id="det2asu">
                                                <div class="col">
                                                    <mat-form-field appearance="fill" id="det2asu">
                                                        <textarea matInput
                                                            id="descripcionDetalladaw" 
                                                            formControlName="descripcionDetallada"
                                                            rows="5"
                                                            formControlName="descripcionDetallada"
                                                            aria-label="descripcionDetallada"
                                                            [readonly]="true"></textarea>
                                                    </mat-form-field>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <!-- Termina card de descripcion detallada -->

                            </div>
                        </div>

                        <div class="row" id="det2asu">
                            <div class="col-md-6" id="det2asu">

                                <!-- Inicia card de historico -->
                                <div class="card" id="det2asu">
                                    <div class="card-header" id="det2asu">
                                        <h4 class="card-title" id="tel-repeater">Histórico
                                        </h4>
                                    </div>
                                    <hr>
                                    <div class="card-content collapse show" id="det2asu">
                                        <div class="card-body" id="det2asu">

                                            <div class="mat-elevation-z8">
                                                <!-- listado de alertas -->
                                                <table mat-table [dataSource]="dataSource3" id="det2asu">
                                                    <caption hidden>Tabla que lista las
                                                        alertas</caption>
                                                    <!-- Position Column -->
                                                    <ng-container
                                                        matColumnDef="nombreUsuario" id="det2asu">
                                                        <th mat-header-cell
                                                            id="nombreUsuario"
                                                            *matHeaderCellDef>Nombre</th>
                                                        <td mat-cell
                                                            *matCellDef="let element" id="det2asu">
                                                            {{element.nombreUsuario}} </td>
                                                    </ng-container>

                                                    <!-- Name Column -->
                                                    <ng-container
                                                        matColumnDef="descripcion" id="det2asu">
                                                        <th mat-header-cell id="descripcion"
                                                            *matHeaderCellDef>Descripcion
                                                        </th>
                                                        <td mat-cell
                                                            *matCellDef="let element">
                                                            {{element.descripcion}} </td>
                                                    </ng-container>

                                                    <!-- Weight Column -->
                                                    <ng-container matColumnDef="fechaAlta" id="det2asu">
                                                        <th mat-header-cell id="fechaAlta"
                                                            *matHeaderCellDef>Fecha Alta
                                                        </th>
                                                        <td mat-cell
                                                            *matCellDef="let element" id="det2asu">
                                                            {{element.fechaAlta}} </td>
                                                    </ng-container>

                                                    <tr mat-header-row
                                                        *matHeaderRowDef="displayedColumns3">
                                                    </tr>
                                                    <tr mat-row
                                                        *matRowDef="let row; columns: displayedColumns3;">
                                                    </tr>
                                                </table>

                                                <mat-paginator id="det2asu"
                                                    [pageSizeOptions]="[5, 10, 20]"
                                                    showFirstLastButtons
                                                    aria-label="Select page of periodic elements">
                                                </mat-paginator>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <!-- Termina card de historico -->
                            </div>
                            <div class="col-md-6" id="det2asu">

                                <!-- Inicia card de información requerida -->
                                <div class="card" id="det2asu">
                                    <div class="card-header" id="det2asu">
                                        <h4 class="card-title" id="tel-repeater">Información
                                            Requerida
                                        </h4>
                                    </div>
                                    <hr>
                                    <div class="card-content collapse show" id="det2asu">
                                        <div class="card-body">

                                            <div class="row">
                                                <div class="col">
                                                    <mat-form-field appearance="fill" id="det2asu">
                                                        <textarea matInput rows="6"
                                                            id="categoria"
                                                            value="La solicitud de la misma irá en función de la categoría del asunto"
                                                            aria-label="categoria"></textarea>
                                                    </mat-form-field>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <!-- Termina card de información requerida -->

                            </div>
                        </div>

                        <div class="row" id="det2asu">
                            <div class="col-md-6" id="det2asu">

                                <!-- Inicia card de quejas -->
                                <div class="card" id="det2asu">
                                    <div class="card-header" id="det2asu">
                                        <h4 class="card-title" id="tel-repeater">Anexos Urls
                                        </h4>
                                    </div>
                                    <hr>
                                    <div class="card-content collapse show" id="det2asu">
                                        <div class="card-body" id="det2asu">

                                            <div class="mat-elevation-z8" id="det2asu">
                                                <!-- listado de alertas -->
                                                <table mat-table [dataSource]="dataSource2" id="det2asu">
                                                    <caption hidden>Tabla que lista las
                                                        alertas</caption>
                                                    <!-- Position Column -->
                                                    <ng-container matColumnDef="nombreUrl" id="det2asu">
                                                        <th mat-header-cell id="nombreUrl"
                                                            *matHeaderCellDef>Nombre</th>
                                                        <td mat-cell
                                                            *matCellDef="let element">
                                                            {{element.nombreUrl}} </td>
                                                    </ng-container>

                                                    <!-- Name Column -->
                                                    <ng-container
                                                        matColumnDef="descripcion" id="det2asu">
                                                        <th mat-header-cell id="descripcion"
                                                            *matHeaderCellDef>Descripcion
                                                        </th>
                                                        <td mat-cell
                                                            *matCellDef="let element" id="det2asu">
                                                            {{element.descripcion}} </td>
                                                    </ng-container>

                                                    <!-- Weight Column -->
                                                    <ng-container matColumnDef="fechaAlta" id="det2asu">
                                                        <th mat-header-cell id="fechaAlta" 
                                                            *matHeaderCellDef>Fecha Alta
                                                        </th>
                                                        <td mat-cell
                                                            *matCellDef="let element">
                                                            {{element.fechaAlta}} </td>
                                                    </ng-container>

                                                    <!-- Weight Column -->
                                                    <ng-container matColumnDef="url" id="det2asu">
                                                        <th mat-header-cell id="url"
                                                            *matHeaderCellDef>Url</th>
                                                        <td mat-cell
                                                            *matCellDef="let element"> <a
                                                                href="{{element.url}}">{{element.url}}</a>
                                                        </td>
                                                    </ng-container>

                                                    <tr mat-header-row id="det2asu"
                                                        *matHeaderRowDef="displayedColumns2">
                                                    </tr>
                                                    <tr mat-row id="det2asu"
                                                        *matRowDef="let row; columns: displayedColumns2;">
                                                    </tr>
                                                </table>

                                                <mat-paginator
                                                    [pageSizeOptions]="[5, 10, 20]"
                                                    showFirstLastButtons
                                                    aria-label="Select page of periodic elements">
                                                </mat-paginator>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <!-- Termina card de quejas -->
                            </div>
                            <div class="col-md-6" id="det2asu">

                                <!-- Inicia card de anexos -->
                                <div class="card" id="det2asu">
                                    <div class="card-header" id="det2asu">
                                        <h4 class="card-title" id="tel-repeater2">Anexos
                                        </h4>
                                    </div>
                                    <hr>
                                    <div class="card-content collapse show">
                                        <div class="card-body">

                                            <div class="mat-elevation-z8">
                                                <!-- listado de alertas -->
                                                <table mat-table [dataSource]="">
                                                    <caption hidden>Tabla que lista las
                                                        alertas</caption>
                                                    <!-- Position Column -->
                                                    <ng-container
                                                        matColumnDef="nombreArchivo" id="det2asu">
                                                        <th mat-header-cell
                                                            id="nombreArchivo"
                                                            *matHeaderCellDef>Nombre</th>
                                                        <td mat-cell
                                                            *matCellDef="let element" id="det2asu">
                                                            {{element.nombreArchivo}} </td>
                                                    </ng-container>

                                                    <!-- Name Column -->
                                                    <ng-container
                                                        matColumnDef="descripcion" id="det2asu">
                                                        <th mat-header-cell id="descripcion"
                                                            *matHeaderCellDef>Descripcion
                                                        </th>
                                                        <td mat-cell
                                                            *matCellDef="let element" id="det2asu">
                                                            {{element.descripcion}} </td>
                                                    </ng-container>

                                                    <!-- Weight Column -->
                                                    <ng-container matColumnDef="fechaAlta" id="det2asu">
                                                        <th mat-header-cell id="fechaAlta"
                                                            *matHeaderCellDef>Fecha Alta
                                                        </th>
                                                        <td mat-cell
                                                            *matCellDef="let element" id="det2asu">
                                                            {{element.fechaAlta}} </td>
                                                    </ng-container>

                                                    <!-- Name Column -->
                                                    <ng-container
                                                        matColumnDef="idAnexoAsunto" id="det2asu">
                                                        <th id="thidAnexoAsunto"
                                                            mat-header-cell
                                                            *matHeaderCellDef class="th-2">
                                                            Descargar Archivo
                                                        </th>
                                                        <td id="tdidAnexoAsunto2" mat-cell
                                                            *matCellDef="let element">
                                                            <button mat-icon-button
                                                                (click)="generaArchivo(element.idAnexoAsunto, element.archivo, element.extension)">
                                                                <mat-icon
                                                                    class="styleColor">
                                                                    download</mat-icon>
                                                            </button>
                                                        </td>
                                                    </ng-container>

                                                    <tr mat-header-row id="det2asu"
                                                        *matHeaderRowDef="displayedColumns">
                                                    </tr>
                                                    <tr mat-row
                                                        *matRowDef="let row; columns: displayedColumns;">
                                                    </tr>
                                                </table>

                                                <mat-paginator id="det2asu"
                                                    [pageSizeOptions]="[5, 10, 20]"
                                                    showFirstLastButtons
                                                    aria-label="Select page of periodic elements">
                                                </mat-paginator>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <!-- Termina card de anexos -->

                            </div>
                        </div>

                    </form>



                </section>
            </mat-card-content>
        </mat-card>

        </div>
      </div>
    </div>
  </div>
</div>